streamlit
pandas
plotly
numpy
openpyxl
beautifulsoup4
lxml
requests
python-dotenv
refinitiv-dataplatform==1.0.0a21
streamlit-extras
feedparser>=6.0.0
xlrd>=2.0.1
statsmodels==0.13.5
scipy==1.11.4
numpy==1.24.4
openai
fpdf
pandas-datareader>=0.10.0



